{#- setter.c.j2 - Creates a setter for a user-defined data structure. -#}
{%- import "macros.c.j2" as macros -%}
static int cbind_{{ struct["Typename"] }}_set_{{ field["Name"] }}(lua_State *L) {
  {{ struct["Typename"] }} *target = ({{ struct["Typename"] }} *)lua_touserdata(L, 1);
  {{ macros.safe_fetch("L", 2, "new_value", field) | indent(2) }}
  target->{{ field["Name"] }} = new_value;
  return 0;
}