{#- callback.c.j2 -#}
{%- import "macros.c.j2" as macros -%}
void {{ callback["Template"] }}(void *data, va_alist args) {
  closure_t *c = (closure_t *)data;
  lua_State *L = (lua_State *)c->L;
  lua_rawgeti(L, LUA_REGISTRYINDEX, c->key);
  va_start_{{ callback["Returns"]["Typename"] }}(args);
  {%- for argument in callback["Arguments"] %}
  {{ argument["Typename"] ~ " arg" ~ loop.index }} = va_arg_{{ argument["Typename"] }}(args);
  {{ macros.push("L", "arg" ~ loop.index, argument) | indent(2) }}
  {%- endfor %}
  lua_pcall(L, {{ callback["Arguments"] | length }}, {{1 if callback["Returns"]["Kind"] != "void_type" else 0}}, 0);
  {% if callback["Returns"]["Kind"] != "void_type" -%}
  {{ macros.unsafe_fetch("L", -1, "result", callback["Returns"]) | indent(2) }}
  va_return_{{ callback["Returns"]["Typename"] }}(args, result);
  {%- else -%}
  va_return_void(args);
  {%- endif %}
}