{# 
  Template: partial/luaopen.c.j2
  Description: Renders the luaopen_[record] function used to initialize
    userdata metatables with generated utility methods and submodules
    containing default constructors for user-defines data types.
  Author: Mateusz Łuczyński
  Email: mateusz.luczynski02@gmail.com
#}
/* BEGIN: generated:binding:luaopen:{{ module | split() | last }} */
int luaopen_{{ module | split() | join("_") }}(lua_State *L) {
  luaL_newmetatable(L, "{{ module }}");
  lua_pushvalue(L, -1);
  lua_setfield(L, -2, "__index");
  luaL_setfuncs(L, {{ module | split() | join("_") }}_lib_m, 0);
  lua_pop(L, 1);
  luaL_newlib(L, {{ module | split() | join("_") }}_f);
  return 1;
}
/* END: generated:binding:luaopen:{{ module | split() | last }} */