{# 
  Template: partial/luareg.c.j2
  Description: Renders a luaL_Reg register used to expose C functions to 
    .lua scripts.
  Author: Mateusz Łuczyński
  Email: mateusz.luczynski02@gmail.com
#}
/* BEGIN: generated:binding:register:{{ register["register_name"] }} */
const luaL_Reg {{ register["register_name"] }}[] = {
  {%- for function in register["functions"] %}
  {"{{ function["lua_name"] }}", {{ function["c_name"] }}},
  {%- endfor %}
  {NULL, NULL}
};
/* END: generated:binding:register:{{ register["register_name"] }} */